h1 {
	font-family:fantasy;
	text-align: center;
}
body {
	background-color: darkgreen;
}
#form {
	width: 500px;
	height: 200px;
	background-color:lightgreen;
	justify-content: center;
	border-color:black;
	align-items: center;
	text-align: left;
	margin: 0 auto;
	font-size: 20px;
	font-family: fantasy;
}

button {
	font-family: fantasy;
	width: 100px;
	margin-top: 20px;
}
button:hover {
	background-color:darkgreen;
}

canvas {
    width: 850px;
    height: 600px;
    
}

.invisible {
	display: none;
}

.visibility {
	visibility: hidden;
}