body {
    background: radial-gradient(lightblue,lightgray);
}

h1 {
    font-family: fantasy;
    text-align: center;
    font-size: 4em;
}

p {
    font-family: fantasy;
    font-size: 1em;
}

.gameInfoContainer {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

#gameContainer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
}
.card {
    background-color:white;
    height: 175px;
    width: 125px;
    font-family: fantasy;
    color: black;
}

.back {
    background-color:gray;
    height: 175px;
    width: 125px;
}